<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=locals.title%></title>
    <script
      src="https://kit.fontawesome.com/7544f3a3fc.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../css/home.css" />
  </head>
  <body>
    <div class="content">
      <h1><i class="far fa-address-book"></i> My Contacts List</h1>
      <ul>
        <%for(i of contact_list){%>
        <li>
          <p><%=i.name%></p>
          <p><%=i.phone%></p>
          <div>
            <a href="/delete-contact/?phone=<%= i.phone %>"
              ><i class="fas fa-window-close"></i>
            </a>
          </div>
        </li>
        <%}%>
      </ul>
      <div class="form-element">
        <form action="/create-contact" method="POST" id="form">
          <input type="text" name="name" placeholder="Enter Name" required />
          <br />
          <input
            type="number"
            name="phone"
            placeholder="Enter Phone No."
            required
          />
          <br />
          <button name="submit">Add-Contact</button>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="../js/home.js"></script>
  </body>
</html>
