* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.content {
  padding: 2rem;
}
h1 {
  margin-left: 30%;
  padding: 1rem;
}
ul {
  margin-left: 30%;
}
li {
  font-size: larger;
  font-weight: bold;
  color: white;
  list-style: none;
  background-color: lightblue;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 1rem;
}
.form-element {
  margin-left: 30%;
  padding: 1rem;
}

input,
button {
  border-radius: 1rem;
  border: 1px solid lightblue;
  font-size: 1rem;
  padding: 1rem;
  width: 52%;
  margin-bottom: 1rem;
}
